<h1> Make a carwash appointment!</h1>
<div>
    Select the detailer 
    <table>
  <tr>
    <th >Detailer Name</th>
    <th >Rating</th>
    <th >Select</th>
  </tr>
    <% @detailers.each do |detailer| %>
    <tr>
      <th><%= link_to detailer.name, detailer_path(detailer)%></th>
      <th><%=detailer.rating%></th>
      <th><input id="<%= detailer.id %>" type="checkbox" name="detailer[]" value="<%= detailer.id %>"></th>
    </tr>
    <% end %>
  </table><br></br>
</div>