<h1>Carwash details !</h1>

<div>
<%= Detailer.find(@carwash.detailer_id).name %> 
</div>
washed 
<div>
<%= User.find(@carwash.user_id).name %> 
</div>
car for 
<div>
<%= Detailer.find(@carwash.detailer_id).cost %> 
</div>

Last Updated at <%= @carwash.readable_time %><br>



