/*
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 
 body {
   padding-top: 70px;
   padding-bottom: 30px;
   
 }
 
 .theme-dropdown .dropdown-menu {
   position: static;
   display: block;
   margin-bottom: 20px;
 }
 
 .theme-showcase > p > .btn {
   margin: 5px 0;
 }
 
 .center {
   text-align: center;
 }
 
 .pic,
 .info {
   padding: 20px;
   display: inline-block;
   background-color: #eeeeee;
   border-radius: 7px;
   vertical-align: middle;
   margin: 10px;
 }
 
 .info {
   height: 290px;
   text-align: left;
 }
 .branding {
  clear: both;
}

footer.branding {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}

table, th, td {
  border: 1px solid black;
}

 
