// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body 
{
    background-image: url(carwash_background.jpg);
    background-size: 40%;
    background-position: 85% 7%;
    background-repeat: no-repeat;
      
    
}