<h3>Congragulations <%= @car.user.name %> on getting a new car! </h3>

<h4>Car details! </h4>
<div> Model:
    <strong><%= @car.model %></strong>
</div>
<div> Make: 
    <strong><%= @car.make %></strong>
</div>
<div> License Plate:
    <strong><%= @car.license_plate %></strong>
</div>